@tailwind base;
@tailwind components;
@tailwind utilities;
/* Pretendard-Black */
@font-face {
  font-family: 'Pretendard-Black';
  src: url('./fonts/Pretendard/Pretendard-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/* Pretendard-Bold */
@font-face {
  font-family: 'Pretendard-Bold';
  src: url('./fonts/Pretendard/Pretendard-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Pretendard-ExtraBold */
@font-face {
  font-family: 'Pretendard-ExtraBold';
  src: url('./fonts/Pretendard/Pretendard-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

/* Pretendard-ExtraLight */
@font-face {
  font-family: 'Pretendard-ExtraLight';
  src: url('./fonts/Pretendard/Pretendard-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

/* Pretendard-Light */
@font-face {
  font-family: 'Pretendard-Light';
  src: url('./fonts/Pretendard/Pretendard-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* Pretendard-Medium */
@font-face {
  font-family: 'Pretendard-Medium';
  src: url('./fonts/Pretendard/Pretendard-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* Pretendard-Regular */
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('./fonts/Pretendard/Pretendard-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Pretendard-SemiBold */
@font-face {
  font-family: 'Pretendard-SemiBold';
  src: url('./fonts/Pretendard/Pretendard-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* Pretendard-Thin */
@font-face {
  font-family: 'Pretendard-Thin';
  src: url('./fonts/Pretendard/Pretendard-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @apply tracking-tight;
}
body {
  font-family: 'Pretendard-Regular', sans-serif;
}

/* TailwindCSS Custom Classes for Font Family */
.light {
  font-family: 'Pretendard-Light', sans-serif;
}

.bold {
  font-family: 'Pretendard-Bold', sans-serif;
}

.extrabold {
  font-family: 'Pretendard-ExtraBold', sans-serif;
}

.extralight {
  font-family: 'Pretendard-ExtraLight', sans-serif;
}

.medium {
  font-family: 'Pretendard-Medium', sans-serif;
}

.semibold {
  font-family: 'Pretendard-SemiBold', sans-serif;
}

.thin {
  font-family: 'Pretendard-Thin', sans-serif;
}

.black {
  font-family: 'Pretendard-Black', sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

input[type='checkbox']:checked {
  background-color: #ff5810;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3E%3Cpath d='M13.78 4.22a.75.75 0 010 1.06l-7.25 7.25a.75.75 0 01-1.06 0L2.22 9.28a.75.75 0 011.06-1.06L6 10.94l6.72-6.72a.75.75 0 011.06 0z'/%3E%3C/svg%3E");
}


.page-enter {
  transform: translateX(100%);
}
.page-enter-active {
  transform: translateX(0);
  transition: transform 300ms ease-in-out;
}
.page-exit {
  transform: translateX(0);
}
.page-exit-active {
  transform: translateX(-100%);
  transition: transform 3000ms ease-in-out;
}

.page-container {
  position: relative;
  width: 100%;
}
